<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd"
>

    <context:component-scan base-package="edu.zut.cs.software.**.controller"/>

    <!-- 注解驱动 -->
    <mvc:annotation-driven/>

    <!-- Html视图解析器 -->
    <bean id="htmlViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/html/"/>
        <property name="suffix" value=".html"/>
        <property name="contentType" value="text/html;charset=utf-8"/>
    </bean>

    <!-- 资源路径映射 -->
    <mvc:resources mapping="/html/**" location="/WEB-INF/pages/html/"/>
    <mvc:resources mapping="/js/**" location="/WEB-INF/resources/js/"/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/resources/css/"/>
    <mvc:resources mapping="/lib/**" location="/WEB-INF/resources/lib/"/>
    <mvc:resources mapping="/img/**" location="/WEB-INF/resources/img/"/>

    <!-- /html/index.html -->
    <mvc:view-controller path="/" view-name="index"/>
    
</beans>